/* Tailwind config/overrides */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-sm;
  }
}

@layer components {
  #__next {
    @apply h-full w-full;
  }

  button {
    @apply flex items-center justify-center border-2 m-4 px-4 py-2 cursor-pointer;
  }

  button:disabled {
    @apply text-neutral-400;
  }

  button:not(:disabled) {
    @apply box-shadow;
  }

  button:not(:disabled):hover,
  button:not(:disabled):focus {
    @apply bg-neutral-700;
  }

  a {
    @apply no-underline;
  }

  p {
    @apply m-0;
  }

  .node {
    @apply text-sm;
  }
}

/* Custom classes */
.box-shadow {
  box-shadow: 4px 4px lightgrey;
}

/* Single-component styles */
#computer {
  grid-template-columns: repeat(7, min-content);
  grid-template-rows: repeat(7, min-content);
}

.node {
  grid-template-areas:
    "code code code acc"
    "code code code bak"
    "code code code last"
    "code code code mode";
}

.node .acc {
  grid-area: acc;
}

.node .bak {
  grid-area: bak;
}

.node .last {
  grid-area: last;
}

.node .mode {
  grid-area: mode;
}

/* TODO */

/* LinesOfCode.css */
.node .code-container {
  grid-area: code;
  resize: none;
  background-color: black;
  line-height: 0.9rem;
}

.node .code-container.disabled-mode,
.node .data-container.isDisabled {
  border-color: red;
}
.node .code-container,
.node .data-container {
  border-color: white;
}

.code-container {
  position: relative;
}

span.isCurrentLine {
  color: black;
  background-color: white;
}

.code-input,
.code-highlighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 4px;
}

.node .code-container.hasError {
  background-color: red;
}

.code-container.disabled-mode code {
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.code-container.disabled-mode code span {
  color: red;
}

.code-input {
  opacity: 1;
  margin: 0;
  resize: none;
}

.code-highlighting {
  pointer-events: none;
  z-index: 3;
  margin: 0;
  overflow-y: auto;
}

code {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  background-color: transparent;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 4px 0;
}

code span {
  padding: 0 4px;
}

.code-container.edit-mode :not(pre) > code,
.code-container.edit-mode pre {
  background: transparent;
  margin: 0;
}

/* TestDisplay.css */

.test-output-values {
  display: flex;
  text-align: right;
}

.test-output-values div {
  display: flex;
  flex-flow: column;
  padding: 0.2rem 0.4rem;
}

.test-input-container {
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
}

.test-output-container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "head head"
    "expected actual";
  margin-right: 1rem;
}

.test-output-id {
  grid-area: head;
}

.test-output-id,
.test-input-id {
  margin-bottom: 0.2rem;
  text-align: center;
}

.test-output-expected {
  grid-area: expected;
}

.test-output-actual {
  grid-area: actual;
  min-width: 1.5rem;
}
